src/main/resources/xsd/ingredient.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://testsoap.pl/example"
           targetNamespace="http://testsoap.pl/example">

    <xs:complexType name="ingredient">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>