src/main/resources/wsdl/burgers.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://testsoap.pl/example" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://testsoap.pl/example" targetNamespace="http://testsoap.pl/example">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://testsoap.pl/example">
            <xs:element name="getBurger">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBurgerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="burger" type="tns:burger"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="burger">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ingredients" type="tns:ingredient"/>
                    </xs:sequence>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ingredient">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getBurgerResponse">
        <wsdl:part element="tns:getBurgerResponse" name="getBurgerResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BurgerPort">
        <wsdl:operation name="getBurger">
            <wsdl:output message="tns:getBurgerResponse" name="getBurgerResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BurgerPortSoap11" type="tns:BurgerPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getBurger">
            <soap:operation soapAction=""/>
            <wsdl:output name="getBurgerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BurgerPortService">
        <wsdl:port binding="tns:BurgerPortSoap11" name="BurgerPortSoap11">
            <soap:address/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>